<div class="page-header">
  <%= link_to new_project_project_layer_path(@project), :class => 'btn btn-primary' do %>
    <i class="icon-plus icon-white"></i>
    New Project layer
  <% end %>
  <h1>Listing project layers</h1>
</div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Display name</th>
      <th>Type</th>
      <th>Tile url</th>
      <th>Is displayed</th>
      <th>Provider</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
<% @project_layers.each do |project_layer| %>
    <tr>
      <td><%= project_layer.display_name %></td>
      <td><%= project_layer.type %></td>
      <td><%= project_layer.tile_url %></td>
      <td><%= project_layer.is_displayed %></td>
      <td><%= project_layer.provider_id %></td>
      <td><%= link_to 'Show', project_project_layer_path(@project, project_layer) %></td>
      <td><%= link_to 'Edit', edit_project_project_layer_path(@project, project_layer) %></td>
      <td><%= link_to 'Destroy', project_project_layer_path(@project, project_layer), confirm: 'Are you sure?', method: :delete %></td>
    </tr>
<% end %>
  </tbody>
</table>
