<div class="page-header">
  <%= link_to new_project_path, :class => 'btn btn-primary' do %>
    <i class="icon-plus icon-white"></i>
    New Project
  <% end %>
  <h1>Listing projects</h1>
</div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
<% @projects.each do |project| %>
    <tr>
      <td><%= project.name %></td>
      <td><%= link_to 'Show', project %></td>
      <td><%= link_to 'Edit', edit_project_path(project) %></td>
      <td><%= link_to 'Destroy', project, confirm: 'Are you sure?', method: :delete %></td>
    </tr>
<% end %>
  </tbody>
</table>
