<h1>Add a new App</h1>
<div>
  <%= form_for @app, do |f| %>
    <p><%= f.label :name %> <%= f.text_field :name %></p>
    <h4>Layers</h4>
    <table class="table table-bordered table-striped new_app">
      <tbody>
        <% @rasters.each do |r| %>
          <tr>
            <td>
              <u>R</u> <%= text_field_tag "layers[#{r["id"]}]display_name", r["display_name"], :class => 'input-medium' %><br />
              <label><%= check_box_tag "layers[#{r["id"]}]include"%> Include Layer</label>
              <label><%= check_box_tag "layers[#{r["id"]}]display"%> Display Layer</label>
            </td>
            <td>
              <h5>Calculations</h5>
              <% @operations.each do |o| %>
                <label>
                  <%= check_box_tag "layers[#{r["id"]}]operations[#{o["name"]}]include" %>
                  <%= text_field_tag "layers[#{r["id"]}]operations[#{o["name"]}]display_name", o["display_name"], :class => 'input-medium' %>
                  <%= text_field_tag "layers[#{r["id"]}]operations[#{o["name"]}]unit", "Kg", :class => 'input-medium' %>
                </label>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <p><%= submit_tag "Create", :class => "btn" %></p>
  <% end %>
</div>
